
<!doctype html>
<html lang="en">

<head>
  <title>ADMIN HOME</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/adminpage/css/style.css">
<style>
a:hover {
  background-color: rgb(167, 167, 143);
}
</style>
</head>

<body>

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
        </button>
      </div>
      <div class="img bg-wrap text-center py-4" style="background-image: url(/adminpage/images/bg_1.jpg);">
        <div class="user-logo">
          <div class="img" style="background-image: url(/adminpage/images/admin.png);"></div>
          <h3>ADMIN</h3>
        </div>
      </div>
      <ul class="list-unstyled components mb-5">
         <li>
          <a href="/librarian/librarianHome"><span class="fa fa-home mr-3"></span>HOME</a>
        </li>
         <li>
          <a href="/librarian/itemType"><span class="fa fa-shopping-cart mr-3"></span>Item Type</a>
        </li>
        <li>
          <a href="/librarian/autherizedValue"><span class="fa fa-font mr-3"></span>Autherized value</a>
        </li>
        <li>
          <a href="/librarian/subject"><span class="fa fa-book mr-3"></span>Subjects</a>
        </li>
           <li>
          <a href="/ocr"><span class="fab fa-galactic-republic mr-3"></span>OCR</a>
        </li>
        <li>
          <a href="/librarian/logout"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
        </li>
       
      </ul>

    </nav>
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
    <div style=" left:200px; top:50px;height: 200px;  background-color: rgba(255,255,255,0.1);">
<section>
    <div class="container">
      <div class="row mt-4">
      <a href="/librarian/addBook" style="padding-left:20px;padding-right:20px"class="btn btn-secondary ml-auto">Add Book</a>
      </div>
    

        <table class="table mt-5">
       <thead>
      <tr>
      
      <th scope="col">BookId</th>
      <th scope="col">ISBN</th>
      <th scope="col">BookTitle</th>
      <th scope="col">AuthorName</th>
      <th scope="col">Edition</th>
      <th scope="col">Publication</th>
      <th scope="col">ItemType</th>
      <th scope="col">AutherizedValue</th>
      <th scope="col">Subject</th>
      <th scope="col">CoverPage</th>
      <th scope="col">Status(status with id)</th>
      

      </tr>
     </thead>
      <tbody>
       {{#each book}}
      <tr>
        <td>{{this.BookId}}</td>
        <td>{{this.ISBN}}</td>
        <td>{{this.BookTitle}}</td>
        <td>{{this.AuthorName}}</td>
        <td>{{this.Edition}}</td>
        <td>{{this.Publication}}</td>
        <td>{{this.ItemType}}</td>
        <td>{{this.AutherizedValue}}</td>
        <td>{{this.Subject}}</td>
        
      <td><img style="width:50px;height:50px;" src="/CoverPage/{{this._id}}.jpg" alt"" /></td><td></td>
   <td>   <a href="/librarian/editBook/{{this._id}}" style="text-decoration:none;" >Edit </a>
    <a href="/librarian/deleteBook/{{this._id}}" style="text-decoration:none; color:red;" onclick="return confirm('Are you sure you want to delete {{this.BookId}}?')">Delete</a></td>
 
      </tr>{{/each}}
      </tbody>
         </table>
      </div>
      </section>



  
  </div>
  
  
  
  
  
  </div>
  
  
  
  
  
  </div>

  
  
  
  
   </div>
</div>












    </div>


  </div>

  <script src="/adminpage/js/jquery.min.js"></script>
  <script src="/adminpage/js/popper.js"></script>
  <script src="/adminpage/js/bootstrap.min.js"></script>
  <script src="/adminpage/js/main.js"></script>
</body>

</html>